.menu-bar {
  cursor: pointer;

  input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }

  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 30px;
    right: 20px;
    height: 3rem;
    width: 3rem;

    .spinner {
      transition: all 0.3s;
      box-sizing: border-box;
      position: absolute;
      height: 0.5rem;
      width: 100%;
      background-color: #fff;

      &.horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 0.5rem;
      }

      &.diagonal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 0.5rem;

        &.part-1 {
          position: relative;
          transform: rotate(0deg);
        }

        &.part-2 {
          transition: all 0.3s;
          box-sizing: border-box;
          position: relative;
          float: left;
          margin-top: 0.5rem;
          transform: rotate(0deg);
        }
      }
    }
  }

  input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
    opacity: 0;
  }

  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transform: rotate(315deg);
    margin-top: 20px;
  }

  input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transform: rotate(45deg);
    margin-top: -24px;
  }
}
